body{
  background-color: #5B9BD5;
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}

.firstRow {
  height: 40vh;
}

.secondRow {
  height: 35vh;
}

.thirdRow {
  height: 25vh;
}

span{
  width: 100%;
  display: block;
}

.time{
  font-size: 30vh;
  font-weight: 300;
  line-height: 0.9em;
}

.date, .insidePlace{
  font-size: 5vh;
  font-weight: 400;
}

.outsidePlace {
  font-size: 3vh;
  font-weight: 400;
  line-height: .4;
}

.insideTemp {
  font-size: 15vh;
  font-weight: 300;
}

.outsideTemp {
  font-size: 3vh;
  font-weight: 600;
  line-height: 1;
}

#loading{
  margin-top: 100px;
}

.power{
  opacity: 0.4;
  line-height: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.power:hover{
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.flower{
  line-height: 1.4em;
}

.waiting {
  color: #d9edf7;
}

.flowerOk{
  color: #FFF;
}

.flowerWarning{
  color: #fcf8e3;
}

.flowerCritical{
  color: #f2dede;
}

@media screen and (max-width: 768px) {
  .time{
    font-size: 30vmin;
  }
  .firstRow {
    height: 35vh;
  }

  .secondRow {
    height: 40vh;
  }

  .thirdRow {
    height: 25vh;
  }
}
