body{
	background-color: #5B9BD5;
	color: #FFF;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
}

span{
	width: 100%;
	display: block;
}

.secondRow{
	margin-top: 80px;
}

.time{
	font-size: 3em;
	font-weight: 600;
	line-height: 0.9em;
}

.date{
	font-size: 0.5em;
	font-weight: 400;
}

 .insideTemp {
  font-size: 2em;
  font-weight: 400;
 }

.outsideTemp {
	font-size: 1em;
	font-weight: 600;
}

.insidePlace, .outsidePlace{
	font-size: 0.5em;
	font-weight: 300;
}

#loading{
  margin-top: 100px;
}

.power{
  opacity: 0.4;
  line-height: 1.2em;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.power:hover{
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.flower{
  line-height: 1.2em;
}

.waiting {
  color: #d9edf7;
}

.flowerOk{
  color: #FFF;
}

.flowerWarning{
  color: #fcf8e3;
}

.flowerCritical{
  color: #f2dede;
}
@media screen and (max-width: 767px) {
  .time{
    font-size: 1.5em;
    font-weight: 400;
  }

  .date{
    font-size: 0.3em;
    font-weight: 300;
  }

   .insideTemp {
    font-size: 1em;
    font-weight: 400;
   }

  .outsideTemp {
    font-size: 0.5em;
    font-weight: 300;
  }

  .insidePlace, .outsidePlace{
    font-size: 0.3em;
    font-weight: 300;
  }

  .flower, .power{
    font-size: 2em !important;
  }

  .thirdRow, .secondRow {
    margin-top: 150px;
  }
}
